@charset "utf-8";
/* Estilos CSS */

#lienzo{
	background-color: gray;
	position: relative;
	float: left;
	margin: auto;
	border-radius: 48px 0;
}
#formulario{
	margin: auto;
	background: #AA6C6D;
	padding: 5px;
	border-radius: 8px;
	border: 2px #5E2021 dashed;
	float: left;
}
#contenedor{
	width: 50%;
	margin: auto;
	padding-top: 50px;
	
}
#zonaformulario{
	float: left;
	padding: 20px;
	border: 1px solid #039;
	margin-left: 150px;
	
}
#zonadatos{
	float: right;
	width: 300px;
	margin-left: 20px;
	padding: 20px;
	border: 1px solid #F00;
	
}
#zonadatos2{
	float: left;
	width: 300px;
	margin-left: 20px;
	padding: 20px;
	border: 1px solid #F00;
	
}
#zonadatos3{
	float: left;
	width: 300px;
	margin-left: 20px;
	padding: 20px;
	border: 1px solid #F00;
	
}
#clave, #valor{
	width: 180px;
}
#zonadatos div{
	padding: 15px;
	border-bottom: 3px solid #00F;
}
#ubicacion{
	height: 100px;
	width: 500px;
	margin: auto;
	background:#1389C3;
	padding: 5px;
	border: 2px dashed #66D01C;
	border-radius: 8px;
	float:left;
}
#audio{
	height: 70px;
	width:720px;
	margin: 20 px auto;
	background: #600DD5;
	padding: 5px;
	border: 2px solid #F8070B;
	border-radius: 0 0 0 32px;
	float: left;
}
#imagenes{
	width: 450px;
	margin: 10px;
	background: #F8070B;
	padding: 20px;
	border: 10px solid #1FD1A8;
	border-radius: 64px 48px 16px 96px;
	float: left;
}
#zonadestino{
	margin:10px;
	width: 520px;
	height: 500px;
	border: 20px solid #C01A1D;
	float: left;
	padding: 30px;
}
#zonadestino2{
	margin:10px;
	width: 720px;
	height: 170px;
	border: 5px solid #C01A1D;
	float: left;
}
#video{
	width:720px;
	margin: 20 px auto;
	background:#1389C3;
	padding: 5px;
	border: 2px solid #600DD5;
	border-radius: 8px;
	float: left;
}
#barra{
	background: #F1ECEC;
	width: 600px;
	height: 16px;
	border: 1px solid #B9B5B5;
	padding: 3px;
	margin-left:80px;
}
#barra2{
	background: #F1ECEC;
	width: 600px;
	height: 16px;
	border: 1px solid #B9B5B5;
	padding: 3px;
	margin-left:80px;
}
#progreso{
	position: absolute;
	width: 0px;
	height: 16px;
	background: rgba(0,0,150,2);
}
#progreso2{
	position: absolute;
	width: 0px;
	height: 16px;
	background: rgba(0,0,150,2);
}
nav{
	margin: 5px 0;
}
#botones{
	float: left;
	width: 100px;
	height: 20px;
}
#botones2{
	float: left;
	width: 100px;
	height: 20px;
}

.directorio{
	color:#0000FF;
	font-weight: bold;
	cursor:pointer;
}
